body{
    background-color: rgb(46, 46, 255);
}

header{
    margin-bottom: 100px;
}

header h1{
    color: white;
    text-align: center;
    margin-top: 50px;
}

section{
    display: block;
    margin: auto;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}