@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url("fontes/idroid.otf") format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Babas';
    src: url("fontes/BebasNeue-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Courguette';
    src: url("fontes/Courgette-Regular.ttf") format('truetype');
    font-family: normal;
    font-weight: normal;
}
:root{
    --cor1: rgb(164, 255, 164);
    --cor2: #36c274;
    --cor3: #1A5C38;
    --cor4: 
    --fonte-padrao: 'Babas', Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Android', monospace;
    --fonte-ass: 'Courguette', monospace
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #84e1ad;
    max-width: 100%;
}





header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    width: 100%;
}

header > h1{
    text-align: center;
    padding: 30px 30px 10px 30px;
    font-family: var(--fonte-padrao);
    font-weight: lighter;
    color: rgb(143, 143, 143);
}

header > h2{
    text-align: center;
    font-size: 20px;
    color: gray;
    font-family: var(--fonte-padrao);
    font-weight: lighter;
    padding: 5px 0px 20px 0px;
}

nav{
    background-color: var(--cor3);
    padding-bottom: 10px;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 10px;
    
}

nav > a#bx{
    margin-bottom: 20px;
}

nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor3);
    transition-duration: 1s;
}




main{
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    display: block;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.363);
}
main h1{
    font-size: 26px;
    color: var(--cor3);
    font-family: var(--fonte-destaque);
    padding: 10px;
}

main h2{
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-size: 23px;
    font-family: var(--fonte-destaque);
    width: 60%;
    margin: 5px;
    padding-left: 4px;
    border-radius: 10px;
}

main p{
    font-size: 18px;
    padding: 10px;
    text-indent: 30px;
    width: 100%;

}

main a{
    text-decoration: none;
    color: rgb(0, 255, 255);
}
main a:hover{
    background-color: var(--cor2);
    transition-duration: 1s;
    color: #1A5C38;
}
img{
    width: 100%;
}

.bd{
    display: block;
    width: auto;
    margin: auto;
}

div.iframe{
    background-color: var(--cor3);
    margin: 30px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.iframe > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}








aside{
    background-color: #c5ebd6;
    margin: 0px 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 4px rgba(172, 132, 132, 0.247);
}

aside h3{
    background-color: #2fa866;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    color: white;
    
    
    
}

aside p{
    font-size: 18px;
    padding: 10px;
    text-indent: 30px;
    width: 100%;
}

p#crc{
    padding-bottom: 40px;
}
p#crc2{
    padding-top: 40px;
}

aside ul{
    list-style-position: inside;
    padding: 10px;
    columns: 2;
}





footer{
    background-color: #103621;
    text-align: center;
    margin-top: 50px;
    

}
footer p{
    padding: 20px;
    font-family: var(--fonte-ass);
    color: white;
}



