h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

table{
    width: 600px;
    border-collapse: collapse;
    position: relative;
}

thead > tr > td{
    position: sticky;
    top: -1px;
    background-color: rgb(78, 78, 78);
}
caption{
    background-color: lightgray;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

th, td{
    border: solid black 1px;
    font-size: 20px;
    padding: 10px;
}

tbody tr:nth-child(2n){
    background-color: lightgray;
}

thead, tfoot{
    background-color: rgb(78, 78, 78);
    color: white;
}

p{
    font-size: 40px;
}